#define SYMBOL_USB 0
#define SYMBOL_CHARGE_0960 1
#define SYMBOL_CHARGE_0960_SUB_1 2
#define SYMBOL_CHARGE_0960_SUB_2 3
#define SYMBOL_CHARGE_0960_SUB_3 4
#define SYMBOL_CHARGE_0960_SUB_4 5
#define SYMBOL_CHARGE_0960_SUB_5 6
#define SYMBOL_CHARGE_0960_SUB_6 7
#define SYMBOL_CHARGE_0960_SUB_7 8
#define SYMBOL_CHARGE_0960_SUB_8 9
#define SYMBOL_CHARGE_0960_SUB_9 10
#define SYMBOL_CHARGE_0960_SUB_10 11
#define SYMBOL_CHARGE_0960_SUB_11 12
#define SYMBOL_CHARGE_0960_SUB_12 13
#define SYMBOL_BATTERY_FRAME 14
#define SYMBOL_SPLIT_CONNECTED 15
#define SYMBOL_SPLIT_DISCONNECTED 16
#define SYMBOL_BRACKET_LAYER_0 17
#define SYMBOL_BRACKET_LAYER_1 18
#define SYMBOL_BRACKET_LAYER_2 19
#define SYMBOL_BRACKET_LAYER_3 20
#define SYMBOL_SKULL_LAYER_0 21
#define SYMBOL_BLUETOOTH_9659 22
#define SYMBOL_BLUETOOTH_9659_SUB_1 23
#define SYMBOL_BLUETOOTH_9659_SUB_2 24
#define SYMBOL_BLUETOOTH_9659_SUB_3 25
#define SYMBOL_BLUETOOTH_9659_SUB_4 26
#define SYMBOL_BLUETOOTH_9659_SUB_5 27
#define SYMBOL_SPEEDOMETER_8803 28
#define SYMBOL_SPEEDOMETER_8803_SUB_1 29
#define SYMBOL_SPEEDOMETER_8803_SUB_2 30
#define SYMBOL_SPEEDOMETER_8803_SUB_3 31
#define SYMBOL_SPEEDOMETER_8803_SUB_4 32
#define SYMBOL_SPEEDOMETER_8803_SUB_5 33
#define SYMBOL_SPEEDOMETER_8803_SUB_6 34
#define SYMBOL_SPEEDOMETER_8803_SUB_7 35
#define SYMBOL_CAPSA_9310 36
#define SYMBOL_CAPSA_9310_SUB_1 37
#define SYMBOL_IMPORT_TEST_9202 38
#define SYMBOL_SLICE_40_4046 39
#define SYMBOL_SLICE_40_4046_SUB_1 40
#define SYMBOL_SLICE_40_4046_SUB_2 41
#define SYMBOL_BONGO_SCYAN_5477 42
#define SYMBOL_BONGO_SCYAN_5477_SUB_1 43
#define SYMBOL_BONGO_SCYAN_5477_SUB_2 44
#define SYMBOL_WOLF_RIGHT_2329 45
#define SYMBOL_WOLF_LEFT_7133 46
#define SYMBOL_WOLF_MAD_7312 47
#define SYMBOL_DUCK_PIXEL_0414 48
#define SYMBOL_DUCK_PIXEL_0414_SUB_1 49
#define SYMBOL_DUCK_PIXEL_0414_SUB_2 50
#define SYMBOL_DUCK_PIXEL_0414_SUB_3 51
#define SYMBOL_DUCK_PIXEL_0414_SUB_4 52
#define SYMBOL_DUCK_PIXEL_0414_SUB_5 53
#define SYMBOL_DUCK_PIXEL_0414_SUB_6 54
#define SYMBOL_DUCK_PIXEL_0414_SUB_7 55
#define SYMBOL_DUCK_PIXEL_0414_SUB_8 56
#define SYMBOL_DUCK_PIXEL_0414_SUB_9 57
#define SYMBOL_DUCK_PIXEL_0414_SUB_10 58
#define SYMBOL_DUCK_PIXEL_0414_SUB_11 59
#define SYMBOL_DUCK_PIXEL_0414_SUB_12 60
#define SYMBOL_DUCK_PIXEL_0414_SUB_13 61
#define SYMBOL_DUCK_PIXEL_0414_SUB_14 62
#define SYMBOL_DUCK_PIXEL_0414_SUB_15 63
#define SYMBOL_DUCK_PIXEL_0414_SUB_16 64
#define SYMBOL_DUCK_PIXEL_0414_SUB_17 65
#define SYMBOL_DUCK_PIXEL_0414_SUB_18 66
#define SYMBOL_DUCK_PIXEL_0414_SUB_19 67
#define SYMBOL_DUCK_PIXEL_0414_SUB_20 68
#define SYMBOL_DUCK_PIXEL_0414_SUB_21 69
#define SYMBOL_DUCK_PIXEL_0414_SUB_22 70
#define SYMBOL_DUCK_PIXEL_0414_SUB_23 71
#define SYMBOL_DUCK_PIXEL_0414_SUB_24 72
#define SYMBOL_DUCK_PIXEL_0414_SUB_25 73
#define SYMBOL_DUCK_PIXEL_0414_SUB_26 74
#define SYMBOL_DUCK_PIXEL_0414_SUB_27 75
#define SYMBOL_DUCK_PIXEL_0414_SUB_28 76
#define SYMBOL_DUCK_PIXEL_0414_SUB_29 77
#define SYMBOL_DUCK_PIXEL_0414_SUB_30 78
#define SYMBOL_DUCK_PIXEL_0414_SUB_31 79
#define SYMBOL_DUCK_PIXEL_0414_SUB_32 80
#define SYMBOL_DUCK_PIXEL_0414_SUB_33 81
#define SYMBOL_DUCK_PIXEL_0414_SUB_34 82
#define SYMBOL_DUCK_PIXEL_0414_SUB_35 83
#define SYMBOL_DUCK_PIXEL_0414_SUB_36 84
#define SYMBOL_DUCK_PIXEL_0414_SUB_37 85
#define SYMBOL_DUCK_PIXEL_0414_SUB_38 86
#define SYMBOL_DUCK_PIXEL_0414_SUB_39 87
#define SYMBOL_DUCK_PIXEL_0414_SUB_40 88
#define SYMBOL_DUCK_PIXEL_0414_SUB_41 89
#define SYMBOL_DUCK_PIXEL_0414_SUB_42 90
#define SYMBOL_DUCK_PIXEL_0414_SUB_43 91
#define SYMBOL_DUCK_PIXEL_0414_SUB_44 92
#define SYMBOL_DUCK_PIXEL_0414_SUB_45 93
#define SYMBOL_A_4441 94
#define SYMBOL_AA_9152 95
#define SYMBOL_AAA_5499 96
#define SYMBOL_DUCK_PIXEL_0414_SUB_46 97
#define SYMBOL_DUCK_PIXEL_0414_SUB_47 98
#define SYMBOL_DUCK_PIXEL_0414_SUB_48 99
#define SYMBOL_DUCK_PIXEL_0414_SUB_49 100
#define SYMBOL_DUCK_PIXEL_0414_SUB_50 101
#define SYMBOL_6LAYER_3164 102
#define SYMBOL_6LAYER_3164_SUB_1 103
#define SYMBOL_6LAYER_3164_SUB_2 104
#define SYMBOL_6LAYER_3164_SUB_3 105
#define SYMBOL_6LAYER_3164_SUB_4 106
#define SYMBOL_6LAYER_3164_SUB_5 107
#define SYMBOL_CHARGESLIM_5317 108
#define SYMBOL_CHARGESLIM_5317_SUB_1 109
#define SYMBOL_CHARGESLIM_5317_SUB_2 110
#define SYMBOL_CHARGESLIM_5317_SUB_3 111
#define SYMBOL_CHARGESLIM_5317_SUB_4 112
#define SYMBOL_CHARGESLIM_5317_SUB_5 113
#define SYMBOL_CHARGESLIM_5317_SUB_6 114
#define SYMBOL_CHARGESLIM_5317_SUB_7 115
#define SYMBOL_CHARGESLIM_5317_SUB_8 116
#define SYMBOL_CHARGESLIM_5317_SUB_9 117
#define SYMBOL_CHARGESLIM_5317_SUB_10 118
#define SYMBOL_CHARGESLIM_5317_SUB_11 119
#define SYMBOL_CHARGESLIM_5317_SUB_12 120
#define SYMBOL_CHARGESLIM_5317_SUB_13 121
#define SYMBOL_CHARGESLIM_5317_SUB_14 122
#define SYMBOL_CHARGESLIM_5317_SUB_15 123
#define SYMBOL_CHARGESLIM_5317_SUB_16 124
#define SYMBOL_CHARGESLIM_5317_SUB_17 125
#define SYMBOL_CHARGESLIM_5317_SUB_18 126
#define SYMBOL_CHARGESLIM_5317_SUB_19 127
#define SYMBOL_CHARGESLIM_5317_SUB_20 128
#define SYMBOL_CHARGESLIM_5317_SUB_21 129
#define SYMBOL_CHARGESLIM_5317_SUB_22 130
#define SYMBOL_CHARGESLIM_5317_SUB_23 131
#define SYMBOL_CHARGESLIM_5317_SUB_24 132
#define SYMBOL_CHARGESLIM_5317_SUB_25 133
#define SYMBOL_CHARGESLIM_5317_SUB_26 134
#define SYMBOL_CHARGESLIM_5317_SUB_27 135
#define SYMBOL_CHARGESLIM_5317_SUB_28 136
#define SYMBOL_ARROW_UP 137
#define SYMBOL_ARROW_DOWN 138
#define SYMBOL_ARROW_LEFT 139
#define SYMBOL_ARROW_RIGHT 140
#define SYMBOL_S1D3W1ND3R_8126 141
